body {
    background-color:#f2ac61;
  
     
}
header{
    background-color: rgb(235, 155, 94);
    
}

.logo{
    width: 25%;
}



.texto-principal {
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: justify;
    
   
    
}

h1 {
    color: #151414;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    
}
 h2 {
    color: #e10d0d;
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    
}


.lista{
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    text-decoration-line: none;
    font-family: 'Akronim', cursive;
}
.lista li:first-letter  {
    color: rgb(239, 22, 11);
}
.lista li:after{
    content: "\2665";
    color: rgb(255, 123, 0);
}




.itens {
	color:  #0e0f0f;
	text-decoration: underline;
}


#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}



nav{
    
    position:absolute;
    top:50px;
    right: 50px;
    

}

nav li{
    display: inline;
    margin-right: 10px;
}
nav a{
    font-size: 17px;
    color: rgb(21, 20, 20);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: rgb(230, 37, 12);
}

.imagens{ 
    width: 40%;
    margin-right: 35px;
    margin-left:50px ;
    margin-top: 20px;
    margin-bottom: 10px;

}

 footer{
    
    text-align: center;
    margin-top: 15%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnkIWOcuER4qD-aiKBfyxA4-b3RMPYjrEpwQ&usqp=CAU)
   
}

.logo2 {
    width: 100px;
}
.textofinal{
    font-size: 20px;
    color: white;
}